* {
    /* border: 1px blue solid; */
}

body {
    background-color: rgba(241,242,247, 1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul>li:hover {
    cursor: pointer;
}

.km-divider {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: rgb(146, 144, 144);
    box-shadow: 0 0 10px 1px rgb(192, 190, 190);
}

/* 左侧栏 */

.km-side ul li img {
    width: 50px;
    height: 50px;
}

.km-bg-side {
    position: fixed;
    background-color: rgba(39,44,51, 1);
}

.km-side-function h1,
h2,
h3,
h4,
h5 {
    color: rgb(148,150,161);  
}

.km-side-function ul {
    color: rgb(184, 184, 189);
}

.km-side-function ul li {
    margin-top: 5px;
    padding-left: 20px;
}

.km-side-function ul li i {
    margin-right: 10px;
    font-size: 0.8rem;
}

.km-side-function ul li:first-child {
    margin-top: 0px;
}

.km-side-function ul li:hover {
    color: white;
}

/* 中间内容 */
.km-content {
    color: black;
}

.km-cont-1 {
    width: 100%;
}

.km-content .km-head {
    background-color: white;
}

.km-boxShadow-m-grey {
    box-shadow: 0 1px 5px 0px rgb(218, 214, 214);
}

.km-head i {
    font-size: 1.3rem;
}

.km-bg-white {
    background-color: white;
}

/* 中间横向导航栏 */
.km-h-nav ul li {
    margin-right: 30px;
}

.d-flex .form-group {
    margin-right: 20px;
}

/* 菜品管理 */
/* .km-dishesv>div { */
    /* width: 100%; */
/* } */