body {
    background-color: rgba(244,247,250, 1);
}

.km-header ul {
    font-size: 1.3rem;
}


.km-bg-side {
    background-color: rgba(16, 73, 169, 1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.km-header ul>li {
    margin-right: 20px;
}

ul>li:hover {
    cursor: pointer;
}

/* 左侧导航栏下拉选项样式 */
.km-bg-side .collapse {
    background-color: #eee;
    transition: all 0.5s;
}
.km-bg-side .collapse a {
    color: rgb(15, 49, 241);
}